

body{
    display:flex;
    background: #043d2ff8 url(https://grainy-gradients.vercel.app/noise.svg);
    height:100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* text-align:center; */
    padding: 0;
}

.topContainer{
    display:flex;
    justify-content: flex-start;
    height:20px;
    width:100%;
    background-color: azure;
    border:solid black .4px;
    margin-top:-1%;
    margin:0;
}

.headContainer{
    display:flex;
    justify-content:center;
    /* align-items:center; */
    /* height:100%; */
    /* margin: 0 auto; */
    margin-top:6.7%;
}

h1{
    color:rgb(164, 164, 198);
    text-shadow: 2px 2px 4px black;
    font-size:90px;
    /* font: arial; */
    letter-spacing: 9px;
    margin: 0;
}